include README.md
include LICENSE
include CHANGELOG.md
include requirements.txt
include pyproject.toml
recursive-include arc *.py
recursive-include arc *.pyi
recursive-include examples *.py
recursive-include tests *.py
global-exclude __pycache__
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .github
exclude experiments/*
exclude data/*
exclude *.json
